@model WebApp.domain.Vigenere

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vigenere</h4>
<script>
      function myFunction() {
        var x = document.getElementById("mySelect").value;
        if (x === "Decryption") 
        {
            document.getElementById("decrypting").style.display = "block";   // enable form field code
            document.getElementById("encrypting").style.display = "none";
        }
        else{
            document.getElementById("decrypting").style.display = "none";   // enable form field code
            document.getElementById("encrypting").style.display = "block";
        }
        
        }
</script>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="AppUserId" value="@Guid.Empty"/>
            <div >
                <select id="mySelect" class="form-select"  onchange="myFunction()">
                    <option value="Encryption">Encryption</option>
                    <option value="Decryption">Decryption</option>
                </select>
            </div>
            <div id="encrypting" class="form-group">
                <label asp-for="PlainText" class="control-label"></label>
                <input asp-for="PlainText" class="form-control" />
                <span asp-validation-for="PlainText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyPass" class="control-label"></label>
                <input asp-for="KeyPass" class="form-control" />
                <span asp-validation-for="KeyPass" class="text-danger"></span>
            </div>
            <div id="decrypting" style="display:none" class="form-group">
                <label asp-for="Encryption" class="control-label"></label>
                <input asp-for="Encryption" class="form-control" />
                <span asp-validation-for="Encryption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
